// #loginForm {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   // position: absolute;
//   background-color: rgb(255, 255, 255);
//   height: 100vh;

//   #loginHead {
//     position: relative;
//     top: 10px;
//     background-color: red;
//     h1 {
//       font: 300 5.5vmax "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
//         sans-serif;
//     }
//   }
//   #loginHead:hover {
//     border-radius: 10px;
//   }
//   form {
//     // flex: 5;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     border: 1px solid black;
//     // border-radius: 10px;
//     padding: 40px;
//     min-height: fit-content;
//     // height: 70vh;
//     // width: 50vw;
//     h1 {
//       font: 300 2.5vmax "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
//         sans-serif;
//     }
//     #loginUsername {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       input {
//         height: 5vh;
//         width: 30vw;
//         border: none;
//         border-bottom: 1px solid black;
//         margin: 10px;
//       }
//     }
//     #loginPassword {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       input {
//         height: 5vh;
//         width: 30vw;
//         border: none;
//         border-bottom: 1px solid black;
//         margin: 10px;
//       }
//     }

//     #loginBtn {
//       width: 30vw;
//       height: 10vh;
//       margin: 10px;
//       border: none;
//       border-radius: 5px;
//       transition: background-color 0.3s ease-in;
//       font: 300 1.2vmax "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
//         sans-serif;
//     }
//     #loginBtn:hover {
//       background-color: rgb(157, 157, 157);
//       border-radius: 10px;
//       cursor: pointer;
//     }
//     p {
//       text-align: center;
//       width: 20vw;
//       font: 300 1vmax "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
//         sans-serif;
//     }
//     #signupBut {
//       background-color: black;
//       color: white;
//     }
//   }
//   #right {
//     // flex: 1;
//     // border: 2px solid red;
//     height: fit-content;
//     padding: 20px;
//     span {
//       font: 200 3.5vmax "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
//         sans-serif;
//     }
//   }
// }