#fl-nav {
  position: fixed;
  bottom: 25%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;

}

#fl-nav.expanded {
  transform: translateX(10%);
}

#show-nav-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(26, 122, 232, 0.6);
  border-radius: 50%;
  // border: 1px solid red;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: absolute;
  left: 0;
  bottom: 24vh;
  // transform: translateY(-30vh);
}

#fl-nav.expanded #show-nav-arrow {
  transform: translateX(130px) translateY(0vh);
  // background-color: red;
  /* Adjust the value based on the width of your navbar */
}

#floating-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  /* Adjust the width based on your preference */
  // height: 80vh;
  /* Adjust the height based on your preference */
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 2;
  transition: transform 0.3s ease, opacity 0.3s ease;
  padding: 10px;
  border-radius: 20px;
}

#floating-nav.hidden {
  transform: translateX(-100%);
  opacity: 0;
  display: none;
}

#floating-nav.visible {
  transform: translateX(0);
  opacity: 1;
}

#floating-nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: rgb(58, 58, 58);
  transition: background-color 0.3s ease;
  margin: 10px 0;
  text-align: center;
  border-radius: 10px;
}

#floating-nav a:hover {
  background-color: rgba(130, 132, 68, 0.4);
}

#floating-nav a.active {
  background-color: rgba(142, 135, 4, 0.5);
  border-radius: 10px;
  color: white;
  width: 100%;
}

#floating-nav a span {
  display: none;
  padding: 5px;
  text-decoration: none;
  font: 250 15px "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  color: white;
}

#floating-nav a span.activeDesc {
  display: block;
}

// @media screen and (max-width: 900px) {
//   #fl-nav {
//     bottom: 20%;
//     left: 0;
//     flex-direction: row;
//   }

//   #floating-nav {
//     width: 100%;
//     height: 60px;
//     flex-direction: row;
//   }
// }