#drawerRight {
    overflow: auto;
    display: none;
}

#hamburgerIcon {
    position: absolute;
    right: 4vw;
    top: 4vh;
    z-index: 3;
}

#hamburgerIcon:hover {
    cursor: pointer;
}

#drawerContent {
    height: 100%;
    overflow: auto;
}

#topNavDrawer {
    width: 100%;
    text-align: center;

    h1 {
        color: white;
        font: 300 3.5vmax "Shadows Into Light", cursive;
    }
}

#bottomRightMyFeedDrawer {
    display: none;
}

#suggestedUsers {
    text-align: center;
    margin-top: 50px;

    h1 {
        font: 250 3vmax "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
    }
}

@media screen and (max-width: 900px) {
    #drawerRight {
        display: block;
    }

    #bottomRightMyFeedDrawer {
        display: block;
    }
}