.accordianHead {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font: 300 2vh "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";

    span {
        padding: 10px;
    }
}


.accordion {
    background-color: black !important;
    color: white;
}

.accordionSummary {
    background-color: black;
    color: white;
}

.accordionDetails {
    background-color: black;
    color: white;
}

.accordianHead {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.accordianHead span {
    color: white;
}