#loginPage {
  display: flex;
  flex-direction: row;
  height: 100vh !important;
  background-color: rgba(0, 0, 0, 0.8);
  // width: 60vh;

  #mid {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    span {
      font: 300 2vmax "Shadows Into Light", cursive;
    }

    h1 {
      font: 300 5vmax "Shadows Into Light", cursive;
    }

    button {
      width: 30vw;
      height: 7vh;
      margin: 10px;
      border: none;
      border-radius: 20px;
      background-color: yellow;
      transition: background-color 0.3s ease-in;
      font: 300 1.2vmax "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }

    button:hover {
      cursor: pointer;
    }

    p {
      text-align: center;
      width: 20vw;
      font: 300 1vmax "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }

    #signupBut {
      background-color: black;
      border: 1px solid yellow;
      color: white;
    }

    #signupBut:hover {
      background-color: yellow;
      color: black;
    }
  }

  #right {
    flex: 6;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    span {
      animation: example 10s infinite;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font: 300 8vmax "Shadows Into Light", cursive;
    }
  }
}

// #right:hover {
//   background-image: linear-gradient(to bottom right, red, yellow);
// }
@keyframes example {
  0% {
    background-color: red;
  }

  25% {
    background-color: yellow;
  }

  50% {
    background-color: rgb(191, 191, 255);
  }

  100% {
    background-color: rgb(83, 228, 83);
  }
}

@media screen and (max-width: 600px) {
  #loginPage {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
    height: fit-content;

    #mid {
      display: flex;
      justify-content: center;
      align-items: center;
      max-height: fit-content !important;
      flex: 0;

    }

    #right {
      flex: 0;

      // 
      span {
        border-radius: 20px;
        height: fit-content;
        padding: 10px;
      }
    }
  }
}