#chatHome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // background-color: rgba(241, 245, 7);
    background-color: rgb(58, 58, 58);
    height: 97%;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;

    #leftChatHome {
        height: 100%;
        border-radius: 20px;
        padding: 10px;
    }

    #midChatHome {
        flex: 9;
        background-color: rgba(1, 1, 1, 0.9);
        height: 100%;
        margin: 10px;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        color: white;
        width: 100%;
        box-sizing: border-box;

        #left-midChatHome {
            // flex: 2;
            border-radius: 20px;
            overflow: auto;
            scrollbar-width: none;
            /* Firefox */
            -ms-overflow-style: none;
            width: 35%;
        }

        #left-midChatHome::-webkit-scrollbar {
            display: none;
            /* Chrome, Safari, and Opera */
        }

        #right-midChatHome {
            // flex: 4;
            // border: 1px solid green;
            border-radius: 20px;
            height: 100%;
            box-sizing: border-box !important;
            width: 65%;
            // border: 1px solid red;
        }
    }

    #rightChatHome {
        flex: 3;
        height: 100%;
        border-radius: 20px;
        // padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: white;
        box-sizing: border-box;


        #top-rightChatHome {
            // margin-bottom: 10px;
            background-color: rgba(1, 1, 1, 0.9);
            flex: 1;
            border-radius: 20px;
            padding: 10px;
            height: 50%;
            width: 100%;
            box-sizing: border-box;
            // overflow: auto;
            // -ms-overflow-style: none;
        }

        // #top-rightChatHome::-webkit-scrollbar {
        //     display: none;
        // }

        #bottom-rightChatHome {
            background-color: rgba(1, 1, 1, 0.9);
            flex: 1;
            border-radius: 20px;
            padding: 10px;
            height: 50%;
            width: 100%;
            box-sizing: border-box;

        }
    }
}

@media screen and (max-width: 900px) {
    #chatHome {
        margin: 0px;
        border-radius: 0px;
        padding: 0;
        height: 100%;
        border-radius: 0px;

        #leftChatHome {
            margin: 0px;
            padding: 0px;
        }

        #midChatHome {
            padding: 0;
            margin: 0;
            height: 100%;
            border-radius: 0px;

            #left-midChatHome {
                width: 100%;
                padding: 0;
                margin: 0;
                height: 100%;

            }

            #right-midChatHome {
                // display: none;
                width: 100%;
                padding: 0;
                margin: 0;
                height: 100%;

            }
        }

        #rightChatHome {
            // display: none;

        }
    }
}