@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Shadows+Into+Light&display=swap');

#topNav {
    // background-color: rgba(251, 255, 0, 0.5);
    width: 100%;
    text-align: center;
    // font-family: "Shadows Into Light", cursive;

    h1 {
        color: white;
        // font: 300 4vmax "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        //     sans-serif;
        font: 300 5vmax "Shadows Into Light", cursive;
    }
}