.chat-nearby-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .chatNearby-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid black;
    background-color: rgb(0, 0, 0, 0.90);
    box-sizing: border-box;
    width: 100%;

    h1 {
      font: 200 50px "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    }

    #distanceChatActionButtons {
      display: flex;
      flex-direction: row;
      margin: 10px;
      gap: 10px;

      .distanceActionButtons {


        button {
          border: none;
          padding: 18px;
          border-radius: 10px;
          font: 200 15px "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
          width: 200px;
        }

        button:hover {
          cursor: pointer;
          background-color: rgb(68, 68, 234);
          color: white;
        }
      }
    }

  }

  #userListChatNearby {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


    #nearbyListItem {
      height: max-content;
      margin: 15px;
    }
  }
}

@media screen and (max-width: 900px) {
  #distanceSlider {
    width: 70vw;
  }

  #fetchButton {
    width: 20vw !important;
  }



}