#home {
  animation: example 10s infinite;
  // height: fit-content;
  // width: fit-content;
  height: 100vh !important;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font: 300 8vmax "Shadows Into Light", cursive;
  }
}

@keyframes example {
  0% {
    background-color: red;
  }

  25% {
    background-color: yellow;
  }

  50% {
    background-color: rgb(191, 191, 255);
  }

  100% {
    background-color: rgb(83, 228, 83);
  }
}