.speedDial {
  right: 3vmax;
  top: 1px;
  margin-left: 50px;
  margin-top: 50px;
}
.speedDialIcon {
  // position: fixed;
  // top: 10px;
  // right: 100px;
  width: 56px;
  height: 56px;
  border-radius: 100%;
}
