#suggestedUsers {

    // background-color: red;
    #userList {
        height: 70vh;
        overflow: auto;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
    }

    #userList::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, and Opera */
    }

}