.usersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font: 300 2.5vmax "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  .usersList {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    text-align: center;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }



    .selectAllContainer {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      input {
        margin-right: 10px;
      }

      span {
        font: 300 1.5vmax "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      }
    }

    .userDetails {
      display: flex;
      align-items: center;
      margin: 10px;
      border-bottom: 0.1px dotted rgb(157, 157, 157);
      height: 10vh;
      background-color: rgba(4, 4, 4, 0.8);
      padding: 10px;
      border-radius: 40px;
      width: 80%;

      input {
        margin-right: 10px;
      }

      img {
        object-fit: cover;
        height: 10vh;
        border-radius: 50%;
        margin-right: 20px;
      }

      span {
        font: 300 1.4vmax "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      }
    }

    .userDetails:hover {
      cursor: pointer;
      background-color: rgba(4, 4, 4, 0.9);
    }
  }

}

#emptyUserList {
  color: black;
  font: 300 1.4vmax "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 25vw;
}

#okButton {
  button {
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
  }

  button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
  }
}

#userCount {
  span {
    color: black;
    font: 300 1vmax "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    width: 25vw;
  }
}

@media screen and (max-width: 900px) {
  .usersContainer {
    width: 100%;
  }
}