.loginRegisterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100%;
  width: 100%;
  color: white !important;
  background-image: url('../../assets/flower1.jpg');
  object-fit: cover;

  #loginImage {
    text-align: center;

    h1 {
      font: 300 40px "Shadows Into Light", cursive;
    }
  }
}

#loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.516);
  border-radius: 20px;
  padding: 10px;
  width: 25%;

  #loginHead {
    h1 {
      font: 300 60px "Shadows Into Light", cursive;
      color: white;
    }
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    h1 {
      font: 600 20px "Shadows Into Light",
        cursive,
        sans-serif;
      color: white;
    }

    #forgotpass {
      // background-color: red;
      padding: 2px;
      border-radius: 10px;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        font-style: none;
        color: white !important;
        padding: 5px;
        text-decoration: none;
        font: 300 10px "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }
    }

    .loginUsername {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      width: 80%;

      input {
        background-color: transparent;
        color: white;
        outline: none;
        padding: 20px;
        border-radius: 10px;
        border: none;
        width: 100%;
        border: 1px solid white;
      }
    }

    #loginPassword {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;

      input {
        border-radius: 10px;
        background-color: transparent;
        color: white;
        outline: none;
        padding: 20px;
        width: 100%;
        border: 1px solid white;
      }

    }

    #loginBtn {
      height: 7vh;
      width: 40%;
      margin: 10px;
      border: none;
      border-radius: 5px;
      background-color: rgba(255, 255, 0, 0.799);
      color: black;
      transition: background-color 0.3s ease-in;
      font: 300 16px "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }

    #loginBtn:hover {
      background-color: rgb(157, 157, 157);
      border-radius: 10px;
      cursor: pointer;
    }

    p {
      text-align: center;
      width: 20vw;
      font: 300 1vmax "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }

    #signupBut {
      background-color: black;
      color: white;
    }
  }

  #right {
    // flex: 1;
    // border: 2px solid red;
    height: fit-content;
    padding: 20px;

    span {
      font: 200 3.5vmax "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
  }

}



@media screen and (max-width: 900px) {
  .loginRegisterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #loginForm {
      border: 0px;
      width: 90%;
      height: 93%;

      #loginHead {

        // border: 2px solid red;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
      }

      .loginUsername {
        margin: 10px;

        input {}
      }

      #loginPassword {
        margin: 0px;

        input {}
      }

      #loginHead {
        h1 {
          font: 300 50px "Shadows Into Light", cursive;
        }
      }

    }
  }
}